body{
background-color: slateblue;
}

#form {
    border: 6px;
    border-width: 10px;
    border-style: outset;
    text-align: center;
}
#title {
    color: seashell;
    text-shadow: 4px 4px 6px rgb(228, 68, 148);
    text-align: center;
}
#first {
    color:thistle;
    text-decoration: underline;
}

#second{
    color: thistle;
text-decoration: underline;
}